{% extends  'base.html' %}
{% load static %}

{% block content %}
<div class="container" style="margin: 5px; font-family: Times New Roman;">
    <img height="300px" src="{% static 'home/images/title_log.jpg' %}">
    <p>THSS Royal Family hi a tirah chuan THSS Royal Family tih hi kan pu sa bik lova,
        mahse 2019-2020 a class XII zirlai te khan zirtirtu tel lohna group thar siamin hetah hian
        creator hian Royal Family tih hi ngaihtuah chhuakin 'THSS Royal Family' kan in ti ta thawr
        mai nih chu. Nimahsela tunah chuan group naran ni lovin lung leng mi tana thian kawm tur
        zawn nan te, thian ho a inkawm hlim nan te hman ani ta ber a, tin thil tih khwam ni khua emaw
        thu pawimawh deuh in hrilh darh nan te hman chhunzawm niin school khata lut ho vek ni tawhlo mah
        ila, kan la in pawhin kan la innel  hlawm hle ani.
    </p>
    <p>Chutiang zelin he web pawh hi mi dang te nen a innel zawk nan tiin siam ani a,
    account nei chin i.e THSS Royal Family member chin te tan bik hian thlalak nuizatthlak
    tak tak dah ani a, member i nih lova, i en duh si chuan contact page atang khan i
    duh ber i dil thei ang.</p>
    <p>Ka ti mai mai nih kha Sir Muana sawi chhuah ani awm e.</p>
</div>
{% endblock %}


