{% extends 'base.html' %}

{% block content %}
<div class="contact-page container">
    <h3 style="margin: 5px;">
        He lai hmunah hian THSS Royal family a Class Representative te leh he web siam tu
        te biak pawh theihna a awm a, i tangkai pui ngei kan beisei
    </h3>
    <br/><br/>
    <div class="card container">
      <center>
          <div class="card-header container">
            Class Representatives'
          </div>
      </center>
      <div class="card-body container">
        <div class="btn-group container" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{ CR }}(CR)
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop2">
              <li><a class="dropdown-item" href="https://www.instagram.com/chicharito__91/">Instagram</a></li>
              <li><a class="dropdown-item" href="mailto:chhangtemama7562@gmail.com">facebook</a></li>
              <li><a class="dropdown-item" href="tel:+91 84140 10694">twitter</a></li>
              <li><a class="dropdown-item" href="mailto:chhangtemama7562@gmail.com">Email</a></li>
              <li><a class="dropdown-item" href="tel:+91 84140 10694">Call now</a></li>
            </ul>
          </div>
      </div>
        <div class="card-body container">
        <div class="btn-group container" role="group">
            <button id="btnGroupDrop2" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{ Assistant_CR }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <li><a class="dropdown-item" href="https://www.instagram.com/omomi___chhakchhuak___12/">instagram</a></li>
              <li><a class="dropdown-item" href="https://www.facebook.com/omomichhakchhuak.lalawmpuii">facebook</a></li>
              <li><a class="dropdown-item" href="https://twitter.com/om_omomi">twitter</a></li>
              <li><a class="dropdown-item" href="mailto:Omomiomomi733@gmail.com">Email</a></li>
              <li><a class="dropdown-item" href="tel:+91 6009906363">Call now</a></li>
            </ul>
          </div>
      </div>
    </div>
    <hr/>
    <div class="card container">
      <div class="card-header" style="font-family: Chiller; font-size: 30px;">
          {{ owner }}
      </div>
      <div class="card-body " style="padding: 5px; spacing: 10px;">
        <div class="d-grid gap-5 d-md-block">
          <a class="btn btn-outline-success" href="tel:+91 8787690473">Call now</a>
          <a class="btn btn-outline-danger" href="mailto:fakeavangchhia@gmail.com">email</a>
          <a class="btn btn-outline-primary" href="https://www.instagram.com/fa_keavangchhia/">instagram</a>
          <a class="btn btn-outline-primary" href="https://www.facebook.com/crinoz.Mr.Fake91/">facebook</a>
          <a class="btn btn-outline-primary" href="https://twitter.com/fa_keavangchhia">twitter</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}

