{% extends 'base.html' %}
{% load static %}

{% block content %}
<br/>
  <div class="container">
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/royal_family.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>Original</p>
        </div>
      </div>
    <div class="container">
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/inside_classroom.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>Annual Sport Closing ni kha</p>
        </div>
      </div>
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/hlakungpuimual.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>Hlakungpuimualah Royal Family ho</p>
        </div>
      </div>
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/kan_pricial_leh.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>Kan Principal leh a unau te</p>
        </div>
      </div>
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/leihlawn_kha.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>Leihlawn kha</p>
        </div>
      </div>
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/rihdil_bois.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>Rihdil chen lai</p>
        </div>
      </div>
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/rihdil_kal_hnu.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>Keimah ni nge camera man meng phi?</p>
        </div>
      </div>
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/slab_chhung_lai.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>Slab chhun kan zamlo</p>
        </div>
      </div>
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/thingphun_ni.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>Slab chhun chauh lo pawh kan thiam</p>
        </div>
      </div>
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/NSS_function.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>NSS puala thingphun</p>
        </div>
      </div>
    </div>
  </div>

<style>
  #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}
</style>

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

{% endblock %}

