{% extends 'base.html' %}
{% load static %}

{% block content %}
<br/>
  <div class="container">
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/royal_family.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>Original</p>
        </div>
      </div>
    <div class="container">
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/inside_classroom.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>Annual Sport Closing ni kha</p>
        </div>
      </div>
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/hlakungpuimual.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>Hlakungpuimualah Royal Family ho</p>
        </div>
      </div>
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/kan_pricial_leh.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>Kan Principal leh a unau te</p>
        </div>
      </div>
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/leihlawn_kha.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>Leihlawn kha</p>
        </div>
      </div>
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/rihdil_bois.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>Rihdil chen lai</p>
        </div>
      </div>
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/rihdil_kal_hnu.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>Keimah ni nge camera man meng phi?</p>
        </div>
      </div>
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/slab_chhung_lai.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>Slab chhun kan zamlo</p>
        </div>
      </div>
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/thingphun_ni.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>Slab chhun chauh lo pawh kan thiam</p>
        </div>
      </div>
      <div class="card mb-3 container">
        <img src="{% static 'home/thlalak/NSS_function.jpg' %}" alt="...">
        <div class="body" style="margin: 1px; font-family: Bahnschrift;">
          <p>NSS puala thingphun</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

